<h1>Länge umrechen</h1>
<div class="row">
    <div class="col-sm-3">
        <div class="list-group">
            <a href="#!/temperature" class="list-group-item">Temperatur</a>
            <a href="#!/length" class="active list-group-item">Länge</a>
        </div>
    </div>
    <div class="col-sm-9">
        <form class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" type="number">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">Meter <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a>Kilometer</a></li>
                            <li><a>Fuss</a></li>
                        </ul>
                    </div>
                </div>
                <div class="input-group">
                    =
                </div>
                <div class="input-group">
                    <span class="form-control conversionOutput"></span>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fuss <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a>Kilometer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>